<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Stylesheets/about.css">

    

    <title>About</title>
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li class="li"><a href="/home">Home</a></li>
          <li class="li"><a href="/about">About Me</a></li>
          <li class="li"><a href="/cv">Experience</a></li>
          <li class="li"><a href="/works">Work</a></li>
        </ul>
      </nav>


    <h1 class = "h1">About Me</h1>

    <div class = "about-container">

    <a href="https://www.linkedin.com/in/jason-cristiano-da-rosa-346660a5/"><img src="/Images/you.png" alt= "you"></a>
   
    <div class = "info">
        <p>With 15 years total of experience within the retail, marketing, ecommerce  & digital  industries and over 12 years focused entirely on digital marketing, Public Relations and Ecommerce industries, Jason is a confident, hardworking and motivated entrepreneurial Manager who is motivated to grow and build brands.. 

            Offering a wealth experience within the digital brand/product marketing, sales and PR  sectors of the business. He is an experienced digital native specialising in results-driven growth strategies, digital and PR strategies, user experience and SEO. 
            
            In addition, the ability to build and maintain relationships, adaptability, creativity and succinct commercial awareness are key personality factors. With an inherent entrepreneurial spirit and a goal/target driven personality, Jason strives for maximum results with a proven track record of delivering and achieving above targets and goals. Jason is a robust team player who leads by example and enjoys to get stuck in and hit the ground running. A creative strategist at heart, innovation is a key quality while focusing on relationship building and delivering excellent results.</p>

    </div>
</div>
    

</body>
</html>